﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<Job>
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <h2 class="mb-3">Task List</h2>
            <table class="table table-bordered table-hover table-responsive-sm table-striped">
                <thead class="table-dark">
                    <tr>
                        <th>Job ID</th>
                        <th>Job Name</th>
                        <th>Due Date</th>
                        <th>Quadrant</th>
                        <th>Category Name</th>
                        <th>Completed</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var temp in Model)
                    {
                        <tr>
                            <td>@temp.JobId</td>
                            <td>@temp.JobName</td>
                            <td>@temp.DueDate</td>
                            <td>@temp.Quadrant</td>
                            <td>@temp.CategoryName</td>
                            <td>@temp.Completed</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Action Buttons">
                                    <a class="btn btn-info btn-sm" asp-controller="Home" asp-action="Edit" asp-route-id="@temp.JobId">Edit</a>
                                    <a class="btn btn-danger btn-sm" asp-controller="Home" asp-action="Delete" asp-route-id="@temp.JobId">Delete</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
